html, body {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: auto;
  color: #FFF;
}

.go-github {
  height: 32px;
  width: 32px;
  display: inline-block;
  opacity: 0.7;
  position: fixed;
  right: 18px;
  top: 11px;
  z-index: 1;
  padding: 3px;
}

@media all and (max-width: 420px)  {
  .go-github {
    top: 58px;
    right: 18px;
  }
}
@media all and (max-width: 350px)  {
  .go-github {
    top: 32px;
  }
}
svg {
    box-sizing: border-box;
}

#infographics-container {
  width: 100%;
  background-color: #000;
  padding: 0px 12px 12px 12px;
  box-sizing: border-box;
}

.fixed {
  position: sticky;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 12px 18px 12px 18px;
  right: 0;
  margin-left: -12px;
  margin-right: -12px;
}
#infographics-container h1{
  font-size: 21px;
  font-family: Impact, sans-serif-condensed;
  color: #F60;
  border-bottom: 3px solid #F60;
}

.desc {
  text-decoration: none;
  color: #F60;
  font-family: "Times New Roman";
  font-style: italic;
  font-size: 14px;
  margin-top: -12px;
  display: block;
}
.tools button {
  font-family: Icon!important;
  font-size: 16px;
  border: none;
  background-color: #47B;
  color: #FFF;
  padding: 3px 6px;
  border-radius: 2px;
}
.tools button:after {
  content: ''; E037;
}
.legend {
  padding: 6px 0;
}
.legend > div{
  display: inline-block;
  height: 7px;
  width: 48px;
  margin-right: 2px;
  color: #FFF;
  text-align: center;
}
.legend > div:after{
  font-size: 12px;
  line-height: 30px;
}
.legend > div:nth-child(1):after{
  content: '钻石';
}
.legend > div:nth-child(2):after{
  content: '铂金';
}
.legend > div:nth-child(3):after{
  content: '黄金';
}
.legend > div:nth-child(4):after{
  content: '白银';
}
.legend > div:nth-child(5):after{
  content: '青铜';
}
.legend > div:nth-child(6):after{
  content: '赤铁';
}
.legend > div:nth-child(7):after{
  content: '黑铝';
}
.legend > div:nth-child(8):after{
  content: '小黑铝';
}

#infographics-container h2{
  font-size: 18px;
  font-family:  "American Typewriter", Consolas, monospace;
  color: #E40;
  border-left: 15px solid #E40;
  padding: 0 12px;
  margin: 6px 0 6px 8px;
}

#svg-teams {
  width: 100%;
  min-width: 240px;
  max-width: 800px;
  height: 2000px;
  box-sizing: border-box;
}

#svg-teams text {
  font-size: 14px;
  font-family: consolas;
  text-shadow: 1px 1px 3px rgba(250,250,250,0.2);
}
#svg-teams text.name {
  fill: #EEE;
}
#svg-teams .rank {
  fill: none;
  stroke: none;
}
#svg-teams .rank text {
  fill: #F50;
  stroke: none;
  font-family:  "American Typewriter", Consolas, monospace;
  white-space: pre;
}
#svg-teams .rank.marked {
  fill: #FFFFFF;
}
#svg-teams .rank.marked text{
  fill: #400;
}
#svg-teams .member{
  pointer-events: none;
}
